---
title: Überprüfung der Beschäftigungsüberprüfung i9
description: Aufgrund des Immigration Reform and Control Acts (IRCA) sind Arbeitgeber in den USA dazu verpflichtet, den Status der Beschäftigungsberechtigung neuer Mitarbeiter zu prüfen.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ab03e28b3e42d02395da01024bc3bcf4dbcd5abf
ms.sourcegitcommit: b112925c389a460a98c3401cc2c67df7091b066f
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 12/19/2020
ms.locfileid: "4798093"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="3a830-103">Überprüfung der Beschäftigungsüberprüfung i9</span><span class="sxs-lookup"><span data-stu-id="3a830-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="3a830-104">Aufgrund des Immigration Reform and Control Acts (IRCA) sind Arbeitgeber in den USA dazu verpflichtet, den Status der Beschäftigungsberechtigung neuer Mitarbeiter zu prüfen.</span><span class="sxs-lookup"><span data-stu-id="3a830-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="3a830-105">Diese Prozedur führt Sie durch die Schritte zum Erfassen der erforderlichen Dokumente für die I-9-Überprüfung.</span><span class="sxs-lookup"><span data-stu-id="3a830-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="3a830-106">Für diese Prozedur wird das Unternehmen USMF verwendet.</span><span class="sxs-lookup"><span data-stu-id="3a830-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="3a830-107">Wechseln Sie zu "Personalverwaltung" > "Arbeitskräfte" > "Mitarbeiter".</span><span class="sxs-lookup"><span data-stu-id="3a830-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="3a830-108">Verwenden Sie den Schnellfilter, um Datensätze zu suchen.</span><span class="sxs-lookup"><span data-stu-id="3a830-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="3a830-109">Filtern Sie beispielsweise im Feld "Name" mit einem Wert "Vince".</span><span class="sxs-lookup"><span data-stu-id="3a830-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="3a830-110">Wählen Sie den betreffenden Mitarbeiter aus.</span><span class="sxs-lookup"><span data-stu-id="3a830-110">Select the employee.</span></span> <span data-ttu-id="3a830-111">Beispiel: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="3a830-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="3a830-112">Erweitern Sie das Inforegister der "Persönliche Informationen".</span><span class="sxs-lookup"><span data-stu-id="3a830-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="3a830-113">Klicken Sie auf "Kennnummern".</span><span class="sxs-lookup"><span data-stu-id="3a830-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="3a830-114">Klicken Sie auf Neu.</span><span class="sxs-lookup"><span data-stu-id="3a830-114">Click New.</span></span>
7. <span data-ttu-id="3a830-115">Wählen Sie den Kennungstyp aus, den Sie aufzeichnen.</span><span class="sxs-lookup"><span data-stu-id="3a830-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="3a830-116">Beispiel: Ausweis</span><span class="sxs-lookup"><span data-stu-id="3a830-116">Example: Passport</span></span>
8. <span data-ttu-id="3a830-117">Geben Sie im Feld "Zahl" einen Wert ein.</span><span class="sxs-lookup"><span data-stu-id="3a830-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="3a830-118">Wählen Sie "Ja" im Feld "Primär" aus.</span><span class="sxs-lookup"><span data-stu-id="3a830-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="3a830-119">Geben Sie im Feld "Beschreibung" eine kurze Beschreibung des Kennungsdatensatzes ein.</span><span class="sxs-lookup"><span data-stu-id="3a830-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="3a830-120">Wählen Sie für die ausstellende Stelle die Behörde aus, von der der Identitätsnachweis für die Arbeitskraft ausgestellt wurde.</span><span class="sxs-lookup"><span data-stu-id="3a830-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="3a830-121">Beispiel: Behörde</span><span class="sxs-lookup"><span data-stu-id="3a830-121">Example: Government</span></span>
12. <span data-ttu-id="3a830-122">Wählen Sie das Datum aus, an dem die ausstellende Stelle den Identitätsnachweis für die Arbeitskraft ausgestellt hat.</span><span class="sxs-lookup"><span data-stu-id="3a830-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="3a830-123">Beispiel: 15. 02. 2011</span><span class="sxs-lookup"><span data-stu-id="3a830-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="3a830-124">Geben Sie das Ablaufdatum des Identitätsnachweises ein.</span><span class="sxs-lookup"><span data-stu-id="3a830-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="3a830-125">Beispiel: 15.02.2021</span><span class="sxs-lookup"><span data-stu-id="3a830-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="3a830-126">Klicken Sie auf "Speichern".</span><span class="sxs-lookup"><span data-stu-id="3a830-126">Click Save.</span></span>
15. <span data-ttu-id="3a830-127">Schließen Sie die Seite.</span><span class="sxs-lookup"><span data-stu-id="3a830-127">Close the page.</span></span>
16. <span data-ttu-id="3a830-128">Klicken Sie auf die Registerkarte "Anstellung".</span><span class="sxs-lookup"><span data-stu-id="3a830-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="3a830-129">Klicken auf "I-9".</span><span class="sxs-lookup"><span data-stu-id="3a830-129">Click I-9.</span></span>
18. <span data-ttu-id="3a830-130">Klicken Sie auf "Neu".</span><span class="sxs-lookup"><span data-stu-id="3a830-130">Click New.</span></span>
19. <span data-ttu-id="3a830-131">Wählen Sie im Feld "Arbeitsberechtigung" eine Option aus.</span><span class="sxs-lookup"><span data-stu-id="3a830-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="3a830-132">Ist der Mitarbeiter kein Bürger oder Staatsangehöriger der USA, müssen Sie die Nummer der Aufenthaltsgenehmigung des Mitarbeiters angeben.</span><span class="sxs-lookup"><span data-stu-id="3a830-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="3a830-133">Wählen Sie die Option "GroupListA" aus.</span><span class="sxs-lookup"><span data-stu-id="3a830-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="3a830-134">Die Liste, die Sie auswählen, hängt davon ab, welche Form der Identifizierung die Arbeitskraft angegeben hat.</span><span class="sxs-lookup"><span data-stu-id="3a830-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="3a830-135">Eine Arbeitskraft muss ein Liste A-Dokument oder ein Dokument aus der Liste B und C bereitstellen. Beispiel: Wenn die Arbeitskraft einen Personalausweis bereitgestellt hat, dann könnte Liste A ausgewählt werden.</span><span class="sxs-lookup"><span data-stu-id="3a830-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="3a830-136">Wenn die Arbeitskraft jedoch nur Führerschein und Sozialversicherungsausweis vorgelegt hat, dann muss Liste B und C ausgewählt werden.</span><span class="sxs-lookup"><span data-stu-id="3a830-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="3a830-137">Wählen Sie im Feld "I-9-Dokumenttyp" die Art des von der Arbeitskraft vorgelegten Dokuments aus.</span><span class="sxs-lookup"><span data-stu-id="3a830-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="3a830-138">Geben Sie im Feld "Dokumentnummer" einen Wert ein oder wählen Sie einen Wert aus.</span><span class="sxs-lookup"><span data-stu-id="3a830-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="3a830-139">Klicken Sie auf "Speichern".</span><span class="sxs-lookup"><span data-stu-id="3a830-139">Click Save.</span></span>

