---
title: Überprüfung der Beschäftigungsüberprüfung i9
description: Aufgrund des Immigration Reform and Control Acts (IRCA) sind Arbeitgeber in den USA dazu verpflichtet, den Status der Beschäftigungsberechtigung neuer Mitarbeiter zu prüfen.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 01/31/2022
ms.locfileid: "8065680"
---
# <a name="employment-verification-i9-verification"></a>Überprüfung der Beschäftigungsüberprüfung i9

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

Aufgrund des Immigration Reform and Control Acts (IRCA) sind Arbeitgeber in den USA dazu verpflichtet, den Status der Beschäftigungsberechtigung neuer Mitarbeiter zu prüfen. Diese Prozedur führt Sie durch die Schritte zum Erfassen der erforderlichen Dokumente für die I-9-Überprüfung. Für diese Prozedur wird das Unternehmen USMF verwendet.

1. Wechseln Sie zu **Personalverwaltung \> Arbeitskräfte \> Mitarbeiter**.
2. Verwenden Sie den Schnellfilter, um Datensätze zu suchen. Filtern Sie beispielsweise den Wert **Vince** beim Feld **Name**.
3. Wählen Sie den betreffenden Mitarbeiter aus. Wählen Sie zum Beispiel **Vince Prado**.
4. Wählen Sie das Inforegister **Persönliche Informationen**.
5. Wählen Sie **Kennnummern**.
6. Wählen Sie **Neu** aus.
7. Wählen Sie den Kennungstyp aus, den Sie aufzeichnen. Wählen Sie z. B. **Pass** aus.
8. Geben Sie im Feld **Zahl** einen Wert ein.
9. Wählen Sie im Feld **Primär** **Ja** aus.
10. Geben Sie im Feld **Beschreibung** eine kurze Beschreibung des Kennungsdatensatzes ein.
11. Wählen Sie im Feld **Ausstellende Stelle** die Behörde aus, von der der Identitätsnachweis für die Arbeitskraft ausgestellt wurde. Wählen Sie z. B. **Regierung** aus.
12. Wählen Sie das Datum aus, an dem die ausstellende Stelle den Identitätsnachweis für die Arbeitskraft ausgestellt hat. Geben Sie beispielsweise das Datum **15.02.2011** (15. Februar 2011) ein.
13. Geben Sie das Ablaufdatum des Identitätsnachweises ein. Geben Sie beispielsweise das Datum **15.2.2021** (15. Februar 2021) ein.
14. Wählen Sie **Speichern** aus.
15. Schließen Sie die Seite.
16. Wählen Sie die Registerkarte **Beschäftigung** aus.
17. Wählen Sie **I-9**.
18. Wählen Sie **Neu** aus.
19. Wählen Sie im Feld **Arbeitsberechtigung** eine Option aus.

    Ist der Mitarbeiter kein Bürger oder Staatsangehöriger der USA, müssen Sie die Nummer der Aufenthaltsgenehmigung des Mitarbeiters angeben.

20. Wählen Sie die Option **GroupListA** aus.

    Die Liste, die Sie auswählen, hängt von der Form der Identifizierung ab, die die Arbeitskraft angegeben hat. Eine Arbeitskraft muss entweder ein Dokument aus Liste A oder ein Dokument sowohl aus Liste B als auch aus Liste C vorlegen. Wenn die Arbeitskraft beispielsweise einen Reisepass vorgelegt hat, können Sie Liste A auswählen. Wenn der Arbeitnehmer jedoch nur einen Führerschein und Sozialversicherung vorgelegt hat müssen Sie Liste B und Liste C auswählen.

21. Wählen Sie im Feld **I-9-Dokumenttyp** den Typ des von der Arbeitskraft vorgelegten Dokuments aus.
22. Geben Sie im Feld **Dokumentnummer** einen Wert ein oder wählen Sie einen Wert aus.
23. Wählen Sie **Speichern** aus.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
