---
title: Überprüfung der Beschäftigungsüberprüfung i9
description: Aufgrund des Immigration Reform and Control Acts (IRCA) sind Arbeitgeber in den USA dazu verpflichtet, den Status der Beschäftigungsberechtigung neuer Mitarbeiter zu prüfen.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 7b5d0bfdee219b5003a3fdf62f81890bb81aecad
ms.sourcegitcommit: f5e31c34640add6d40308ac1365cc0ee60e60e24
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 12/08/2020
ms.locfileid: "4694211"
---
# <a name="employment-verification-i9-verification"></a>Überprüfung der Beschäftigungsüberprüfung i9

[!include [banner](../../../includes/banner.md)]

Aufgrund des Immigration Reform and Control Acts (IRCA) sind Arbeitgeber in den USA dazu verpflichtet, den Status der Beschäftigungsberechtigung neuer Mitarbeiter zu prüfen. Diese Prozedur führt Sie durch die Schritte zum Erfassen der erforderlichen Dokumente für die I-9-Überprüfung. Für diese Prozedur wird das Unternehmen USMF verwendet.

1. Wechseln Sie zu "Personalverwaltung" > "Arbeitskräfte" > "Mitarbeiter".
2. Verwenden Sie den Schnellfilter, um Datensätze zu suchen. Filtern Sie beispielsweise im Feld "Name" mit einem Wert "Vince".
3. Wählen Sie den betreffenden Mitarbeiter aus. Beispiel: Vince Prado
4. Erweitern Sie das Inforegister der "Persönliche Informationen".
5. Klicken Sie auf "Kennnummern".
6. Klicken Sie auf Neu.
7. Wählen Sie den Kennungstyp aus, den Sie aufzeichnen. Beispiel: Ausweis
8. Geben Sie im Feld "Zahl" einen Wert ein.
9. Wählen Sie "Ja" im Feld "Primär" aus.
10. Geben Sie im Feld "Beschreibung" eine kurze Beschreibung des Kennungsdatensatzes ein.
11. Wählen Sie für die ausstellende Stelle die Behörde aus, von der der Identitätsnachweis für die Arbeitskraft ausgestellt wurde. Beispiel: Behörde
12. Wählen Sie das Datum aus, an dem die ausstellende Stelle den Identitätsnachweis für die Arbeitskraft ausgestellt hat. Beispiel: 15. 02. 2011
13. Geben Sie das Ablaufdatum des Identitätsnachweises ein. Beispiel: 15.02.2021
14. Klicken Sie auf "Speichern".
15. Schließen Sie die Seite.
16. Klicken Sie auf die Registerkarte "Anstellung".
17. Klicken auf "I-9".
18. Klicken Sie auf "Neu".
19. Wählen Sie im Feld "Arbeitsberechtigung" eine Option aus.
    * Ist der Mitarbeiter kein Bürger oder Staatsangehöriger der USA, müssen Sie die Nummer der Aufenthaltsgenehmigung des Mitarbeiters angeben.  
20. Wählen Sie die Option "GroupListA" aus.
    * Die Liste, die Sie auswählen, hängt davon ab, welche Form der Identifizierung die Arbeitskraft angegeben hat. Eine Arbeitskraft muss ein Liste A-Dokument oder ein Dokument aus der Liste B und C bereitstellen. Beispiel: Wenn die Arbeitskraft einen Personalausweis bereitgestellt hat, dann könnte Liste A ausgewählt werden. Wenn die Arbeitskraft jedoch nur Führerschein und Sozialversicherungsausweis vorgelegt hat, dann muss Liste B und C ausgewählt werden.  
21. Wählen Sie im Feld "I-9-Dokumenttyp" die Art des von der Arbeitskraft vorgelegten Dokuments aus.
22. Geben Sie im Feld "Dokumentnummer" einen Wert ein oder wählen Sie einen Wert aus.
23. Klicken Sie auf "Speichern".



[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]